<!-- <ion-view>
		<ion-header-bar align-title="center" class="bar-stable">
  		<h1 class="title">Login</h1>
		</ion-header-bar>
	<ion-content class="padding">
		<button class="button button-block icon-left ion-social-googleplus googleplus-red" ng-click="googleLogin()">Google+</button>
	</ion-content>
</ion-view> -->
<ion-content scroll="false" class="padding login-container">
	<div class="login-text padding">
		<h1>Maxst</h1>
		<p>Beyond Reality with Maxst</p>
	</div>
	<div class="login-button">
 		<button class="button button-block button-assertive" ng-click="login()">Log In with Google</button>
 	</div>
</ion-content>
