<ion-view view-title="Maxst">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Notice</div>
      <div class="item item-body">
        <div>
          맥스트 공지사항 입니다.
        </div>
        <div>
          하이브리드 앱 테스트 입니다.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Meeting Room (2015.12.01)</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming Events</div>
      <div class="item item-body">
        <div>
          <span>2015.12.07</span> 월간회의
        </div>
        <div>
          <span>2015.12.25</span> 크리스마스
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
