<ion-view view-title="Notice">
  <ion-nav-buttons side="right">
    <button class="button buttion-icon pull-right" ng-click="newNotice()">
      <i class="icon ion-compose"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-show="!notices.length">
        <p>No Notice</p>
      </ion-item>
      <ion-item ng-show="notices.length" class="item-remove-animate" ng-repeat="notice in notices">
        <p>
          {{notice.date | date:'yyyy-MM-dd'}} 
          <strong>{{notice.title}}</strong> 
          <span>{{notice.displayName}}</span>
          <!-- edit button -->
          <button class="button buttion-icon" ng-click="onItemEdit(notice)" ng-show="notice.uid == userInfo.uid">
            <i class="icon ion-edit"></i>  
          </button>
        </p>
        <ion-option-button class="button-assertive" ng-click="onItemDelete(notice)" ng-show="notice.uid == userInfo.uid">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <script id="new-notice.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar class="bar-stable">
        <h1 class="title">New Notice</h1>
        <button class="button button-clear button-positive" ng-click="closeNewNotice()">Cancel</button>
      </ion-header-bar>
      <ion-content>
        <form ng-submit="createNotice(notice)" >
          <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="공지사항을 입력하세요" ng-model="notice.title">
              </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-pisitive">Create Notice</button>
          </div>
        </form>
      </ion-content>
    </div>
  </script>
</ion-view>
