/* Empty. Add your own CSS if you like */

.login-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 100%;
  color:#67A6AC;
}
.login-container .login-text{
	padding-top: 40px;
}
.login-container .login-text h1, .login-container .login-text p{
	color:#67A6AC;
	text-align: center;
}
.login-container .login-button{
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 10%;
}